@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@600;700&family=Domine&display=swap');

.wrapper {
  display: flex;
  align-items: stretch;
  color: {{{ textColor }}};
}

.side {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12vh;

  background-color: {{{ bgColor }}};
  padding: 2vw;
}

.side-content {
  flex: 1 2;
}

#title {
  margin-top: 0;
  font-size: 0.01rem; /* textFit calcs the correct size */
  font-family: 'Big Shoulders Inline Display', cursive;
  font-weight: 800;
  height: 100%;
}

.footer {
  flex: 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vw;
}

.logo {
  width: 9vh;
  height: 9vh;
}

.brand-name {
  margin: 0;
  font-size: 9vh;
  font-family: 'Domine', serif;
}

.main {
  flex: 1.62;
  position: relative;
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.extended-background {
  position: absolute;
  left: -1px;
  top: 0;
  background-color: {{{ bgColor }}};
  width: 8vh;
  height: 100%;
  clip-path: polygon(
    0 0,
    100% 0,
    0 100%,
    0 100%
  );
}
