.card {
  display: inline-block;
  min-width: 330px;
  background-color: var(--color-bg-primary);
  border-radius: 35px 35px 20px 20px;
  box-shadow: 5px 6px 10px var(--color-bg-secondary);
  transition: transform 0.5s;
}

.card:hover {
  transform: scale(1.05);
}

.cardTitle {
  margin-bottom: 1vh;
  color: var(--color-text-primary);
}

.cardTitle:hover {
  box-shadow: none;
  text-decoration: underline;
  cursor: pointer;
}

.cardTitle a {
  padding: 0;
}

.cardTitle h2 {
  margin-bottom: 0;
  color: var(--color-text-primary);
}

.cardTitle h4 {
  font-weight: 300;
  margin-top: 0;
  font-style: italic;
}

.cardText {
  padding: 1vw;
  color: var(--color-text-secondary);
}

.headerImg {
  min-width: 330px;
  height: 155px;
  object-fit: cover;
  overflow: hidden;
  object-position: center top;
  border-radius: 35px 35px 0 0;
}

@media (max-width: 1024px) {
  .cardText {
    padding: 1vw 3vw;
  }
}
