.categoryLink:hover {
  cursor: pointer;
  box-shadow: 0 10px 20px var(--color-bg-tertiary), 0 6px 6px var(--color-bg-tertiary);
}

.categorySelected {
  background-color: var(--color-dark-grey);
  color: var(--color-white);
}

.categoryPill {
  color: var(--color-white);
  border-radius: 1em;
  margin-left: 1vw;
  padding: 0.2em 0.6em;
  line-height: 1.3em;
  font-size: 12px;
  font-weight: 600;
  opacity: 0.8;
}

.gearCategory {
  background-color: var(--color-orange);
  /* Color w/o opacity: e49504 */
}

.hikeCategory {
  background-color: var(--color-purple);
  /* Color w/o opacity: bb03e9 */
}

.thoughtsCategory {
  background-color: var(--color-pink);
  /* Color w/o opacity: f1045f */
}
