.popoverContent {
  background-color: white;
  border-color: #d2d2d2;
  border-style: solid;
  border-radius: 15px;
  padding: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}

.contentWithImg {
  min-width: 42vw;
  max-width: 75vw;
  padding: 0 1rem;
}
