.popoverContent {
  background-color: var(--color-bg-primary);
  border-color: var(--color-bg-secondary);
  border-style: solid;
  border-radius: 15px;
  padding: 15px 30px;
  position: relative;
}

/* Hack to override the default height set for remote urls by next/image */
.popoverContent > div > div > div {
  margin: -75px 0;
  padding: 1rem 0;
}

.contentWithImg {
  min-width: 42vw;
  max-width: 75vw;
  padding: 0 1rem 1rem 1rem;
}
