@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.footerLinks > div {
  align-items: flex-start;
}

.footerLinks a {
  color: var(--color-offwhite);
  margin: 0.25rem 0;
}

.footerLinks h3 {
  font-family: 'Playfair Display SC', serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  margin: 0.25rem 0 0.75rem 0;
}

.footerDivider {
  width: 100%;
  border-top: 1px solid var(--color-light-grey);
}

.footerLinks {
  font-family: 'Open Sans', sans-serif;
  display: grid;
  grid-gap: 2.5em;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  width: 70%;
  margin: auto;
}

.footerLinks a:hover {
  box-shadow: none;
  text-decoration: underline;
}

.footerLogo {
  gap: 0.75rem;
  align-items: center !important;
}

.toggleWrapper {
  margin: 2vh 0;
}

@media (max-width: 880px) {
  .footerLinks {
    grid-template-columns: repeat(auto-fill, minmax(135px, 2fr));
    padding: 0 0.75rem;
    width: 100%;
  }
}
