.galleryItem {
  height: 35vh;
  flex-grow: 1;
}

.tallGalleryItem {
  position: relative;
  height: 35vh;
  width: 20vw;
  max-width: 35vw;
  overflow: hidden;
}

.tallGalleryImg {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.tallGalleryImg {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.galleryItem:last-child {
  flex-grow: 10;
}

.galleryItem img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: center;

  transition-property: transform, border-radius;
  transition-duration: 0.5s;
}

.galleryItem img:hover {
  transform: scale(1.1);
  border-radius: 20px;
}

.tallGalleryImg:hover {
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.75);
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.75);
  -o-transform: translateX(-50%) translateY(-50%) scale(0.75);
  transform: translateX(-50%) translateY(-50%) scale(0.75);
}

.galleryWrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.galleryWrapper li {
  list-style: none;
}

.imageCaption {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .galleryItem,
  .tallGalleryItem {
    height: auto;
    overflow: hidden;
    width: 100%;
  }

  .galleryItem img {
    width: 100%;
    min-width: 0;
  }

  .galleryItem img:hover {
    transform: none;
    border-radius: 0;
  }

  .galleryWrapper {
    flex-direction: row;
  }

  .imageCaption {
    justify-content: flex-start;
    margin-bottom: 1.75vh;
  }

  .tallGalleryImg {
    position: inherit;
    transition: none;
  }

  .tallGalleryImg li:hover {
    width: 100%;
    transform: none;
  }
}
