.galleryWrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  max-width: 70vw;
}

.galleryWrapper li {
  list-style: none;
}

.galleryItem {
  height: 35vh;
  flex-grow: 1;
}

.galleryItem:last-child {
  flex-grow: 10;
}

.galleryItem img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: center;

  transition-property: transform, border-radius;
  transition-duration: 0.5s;
}

.galleryItem img:hover {
  transform: scale(1.1);
  border-radius: 20px;
}

@media (max-width: 1024px) {
  .galleryItem img {
    margin: 0.75vh 0;
    object-position: center;
  }

  .galleryItem {
    overflow: hidden;
  }

  .galleryItem img:hover {
    transform: none;
    border-radius: 0;
  }
}

@media (max-aspect-ratio: 1/1) {
  .galleryItem {
    max-height: 40vh;
  }
}

@media (max-height: 480px) {
  .galleryItem {
    height: 80vh;
  }
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  .galleryWrapper {
    flex-direction: row;
  }

  .galleryItem {
    height: auto;
    width: 100%;
  }

  .galleryItem img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}
