.landingPage {
  width: 100%;
  background-color: var(--color-bg-primary);
}

.recentPosts {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, 420px);
  padding: 0 3rem;
  margin: 2rem auto;
}

@media (max-width: 975px) {
  .recentPosts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto;
    width: 100%;
  }
}
