.landingPage {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 12rem 3rem 12rem;
}

@media (max-width: 1024px) {
  .wrapper {
    margin: 0 2rem;
  }

  .landingNavigation a {
    font-size: 12px;
    padding: none;
  }
}
