.landingPage {
  width: 100%;
  background-color: #f9f9f9;
}

.mostRecentPosts {
  display: flex;
  justify-content: space-around;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 12rem 3rem 12rem;
}

@media (max-width: 1024px) {
  .mostRecentPosts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .wrapper {
    margin: 0 2rem;
  }

  .landingNavigation a {
    font-size: 12px;
    padding: none;
  }
}
