.landingHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Playfair Display', serif;
  color: #0794e0;
}

.landingNavigation a {
  font-size: 1.25rem;
  padding: 1.5rem;
  text-decoration: none;
  color: #0794e0;
}

.landingNavigation a:hover {
  text-decoration: underline;
}

.navigation {
  margin-top: 1.4rem;
}

@media (max-width: 1024px) {
  .landingNavigation a {
    font-size: 12px;
    padding: none;
  }
}
