.landingHeader {
  font-family: 'Playfair Display', serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  padding: 1rem 0.25rem 1.5rem 0.25rem;
}

.landingHeader h1 {
  margin: 0.25em 0 1.5em 1.5em;
}

.landingLogoWrapper {
  width: 110px;
}

.landingLogoWrapper img {
  padding: 0.5rem;
}

.landingNavigation a {
  color: #1b1b1b;
  font-size: 1.25rem;
  margin: 0.25em 1.5em 1.5em 0;
  text-decoration: none;
}

.landingNavigation a:hover {
  text-decoration: underline;
}

.navigation a {
  color: #1b1b1b;
}

.navigation {
  margin: 1.4rem;
}

@media (max-width: 1024px) {
  .landingHeader {
    margin-bottom: 0;
    padding: 1em;
  }

  .landingNavigation a {
    padding: none;
  }

  .navigation {
    margin: 0.75rem;
  }

  .navigation a {
    font-size: 18px;
    margin: 1rem 0.75rem;
  }

  .landingHeader {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .landingHeader h1 {
    margin: 0;
  }

  .landingLogoWrapper {
    width: auto;
    height: auto;
  }

  .landingNavigation {
    flex-direction: column;
    margin: 0;
  }

  .landingNavigation a {
    margin: auto;
    padding: 2.5em 1em 0 1em;
  }
}
