.landingHeader {
  font-family: 'Playfair Display', serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.25rem 1.5rem 0.25rem;
}

.landingHeader h1 {
  margin: 0.25em 0 1.5em 1.5em;
}

.landingLogoWrapper {
  margin-left: 1rem;
}

.landingLogoWrapper img {
  width: 65px;
}

.landingNavigation a {
  color: var(--color-text-primary);
  font-size: 1.25rem;
  margin: 0.5em 1.5em 1.5em 0;
  padding: 0;
}

.landingNavigation a:hover {
  text-decoration: underline;
  box-shadow: none;
}

.navigation a {
  color: var(--color-text-primary);
  padding: 0.25em;
  margin: 0 0.25em;
  font-weight: 400;
}

.navigation a:hover {
  text-decoration: underline;
  box-shadow: none;
}

.navigation {
  margin: 1.4rem;
}

@media (max-width: 1024px) {
  .landingHeader {
    margin-bottom: 0;
    padding: 1em;
  }

  .landingNavigation a {
    padding: none;
  }

  .navigation {
    margin: 0.75rem;
  }

  .navigation a {
    font-size: 18px;
    margin: 1rem 0.75rem;
  }

  .landingHeader {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .landingHeader h1 {
    margin: 0;
  }

  .landingLogoWrapper > div > div > img {
    display: none !important;
  }

  .landingNavigation {
    flex-direction: column;
    margin-top: 0.5em;
  }

  .landingNavigation a {
    margin: auto;
    padding: 2.5em 1em 0 1em;
  }
}
