.card {
  display: inline-block;
  width: 420px;
  background-color: var(--color-bg-primary);
  transition: transform 0.5s;
}

.card:hover {
  transform: scale(1.05);
}

.cardTitle {
  margin-bottom: 1vh;
  color: var(--color-text-primary);
}

.cardTitle:hover {
  box-shadow: none;
  text-decoration: underline;
  cursor: pointer;
}

.cardTitle a {
  padding: 0;
}

.cardTitle h2 {
  margin: 0 auto;
  color: var(--color-text-primary);
}

.cardTitle h4 {
  font-weight: 300;
  margin-top: 0;
  font-style: italic;
}

.cardText {
  padding: 0;
  color: var(--color-text-secondary);
}

.headerImg {
  height: 14rem;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}
