.hiddenInMobile {
  display: inside;
}

.hiddenOnDesktop {
  display: none;
}

.titleHeader,
.titleData {
  width: 25vw;
  text-align: left;
}

.areaHeader,
.areaData {
  width: 17vw;
  text-align: left;
}

.distanceHeader {
  width: 9vw;
}

.tablePopover {
  z-index: 200;
}

.blanket {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  z-index: 100;
}

.logSearch {
  margin-left: 0.75rem;
  font-size: 16px;
}

@media (max-width: 1024px) {
  .hiddenInMobile {
    display: none;
  }

  .hiddenOnDesktop {
    display: inline;
  }

  .titleHeader,
  .titleData {
    width: 40vw;
  }

  .areaHeader,
  .stateHeader {
    display: none;
  }
}
