.areaHeader,
.areaData {
  width: 17vw;
  text-align: left;
}

.blanket {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  z-index: 50;
}

.categorySelected {
  background-color: var(--color-text-accent) !important;
  color: var(--color-white) !important;
}

.distanceHeader {
  width: 9vw;
}

.filterTitle {
  margin-right: 0.75em;
}

.hiddenInMobile {
  display: inside;
}

.hiddenOnDesktop {
  display: none;
}

.searchInput {
  width: 35%;
}

.metricImperialFilters button {
  color: var(--color-text-primary);
  background-color: var(--color-bg-secondary);
}

.metricImperialFilters button:hover {
  background-color: var(--color-text-accent);
  color: var(--color-white);
}

.tablePopover {
  z-index: 100;
}

.titleHeader,
.titleData {
  width: 25vw;
  text-align: left;
}

@media (max-width: 1024px) {
  .areaFilter,
  .searchFilter {
    flex-direction: column;
    margin: 0;
  }

  .areaHeader,
  .stateHeader {
    display: none;
  }

  .filterTitle {
    margin: 1.5rem 0 0.75rem 0;
  }

  .hiddenInMobile {
    display: none;
  }

  .hiddenOnDesktop {
    display: inline;
  }

  .tableHeaders {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .titleHeader,
  .titleData {
    width: 40vw;
  }

  .searchInput {
    width: 60vw;
    margin: 0;
    margin-top: 0.25vh;
  }
}
