.aboutBlock {
  max-width: 650px;
}

.aboutBlockText p {
  text-align: left;
}

.aboutImage {
  padding: 0 2rem 0;
  float: left;
}

.socialIcons {
  display: flex;
  margin: 0 7rem;
  align-items: center;
  justify-content: space-evenly;
}

.socialIcons a {
  color: #000000;
}

/* Adjusted so iPads get the desktop experience on this page */
@media (max-width: 741px) {
  .aboutBlock {
    flex-direction: column;
    padding: 0 1.75rem;
    align-items: center;
    max-width: 80vw;
  }

  .aboutBlockText {
    padding-top: 1.75rem;
  }

  .aboutBlockText p {
    text-align: center;
  }

  .aboutImageMobile {
    display: flex;
    justify-content: center;
  }

  .socialIcons {
    margin: 0 5rem;
  }
}

@media (max-width: 500px) {
  .aboutBlock p {
    padding: 0.5rem 0;
  }
}
