.aboutBlock {
  max-width: 650px;
}

.aboutBlockText p {
  text-align: left;
}

.aboutImage {
  padding: 0 2rem 0 0;
  float: left;
}

.brandLink {
  color: #0065b8;
}

/* Adjusted so iPads get the desktop experience on this page */
@media (max-width: 741px) {
  .aboutBlock {
    flex-direction: column;
    padding: 0 1.75rem;
    align-items: center;
    max-width: 80vw;
  }

  .aboutBlockText {
    padding-top: 1.75rem;
  }

  .aboutBlockText h2 {
    text-align: center;
  }

  .aboutBlockText p {
    text-align: center;
  }

  .aboutImageMobile {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .aboutBlock p {
    padding: 0.5rem 0;
  }
}
