.aboutBlock {
  display: flex;
  align-items: flex-start;
  max-width: 685px;
}

.aboutBlockText {
  margin-left: 2rem;
}

.socialIcons {
  display: flex;
  margin: 0 15rem;
  align-items: center;
  justify-content: space-evenly;
}

.socialIcons a {
  color: #000000;
}

@media (max-width: 1024px) {
  .aboutBlock {
    flex-direction: column;
  }

  .aboutBlock img {
    border-radius: 9999px;
    width: 320px;
  }

  .socialIcons {
    margin: 0 5rem;
  }
}
