.filterWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75vw;
  margin: 0 auto;
}

.filterWrapper p {
  margin-bottom: 0.6vh;
}

.searchInput {
  width: 35%;
}

@media (max-width: 800px) {
  .searchInput {
    width: 70vw;
  }
}
