.filterWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75vw;
}

.filterWrapper p {
  margin-bottom: 0.6vh;
}

.searchInput {
  margin-left: 0.75rem;
  font-size: 14px;
  padding: 0.2rem 0.4rem;
  margin: 0;
  width: 25%;
  border: 1px solid grey;
  border-radius: 5px;

  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media (max-width: 1024px) {
  .searchInput {
    width: 30%;
  }

  .filterWrapper {
    margin: 0 auto;
  }
}

@media (max-width: 740px) {
  .searchInput {
    width: 70%;
  }
}
