.blogItemCategory {
  display: flex;
  align-items: center;
}

.blogNavigation {
  display: flex;
  justify-content: space-between;
}

.blogNavigation a {
  text-align: center;
  text-decoration: none;
  color: #757575;
}

.blogNavigation a:hover {
  font-weight: bold;
}

.blogNavigationSeparator {
  display: none;
  margin: 2px;
  background: #696969;
  width: 1px;
}

.blogPostHeading {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  color: #020202;
}

.blogPostHeading:hover {
  text-decoration: underline;
}

.blogSection {
  width: 760px;
}

.categoryFilterWrapper {
  margin-bottom: 1.25rem;
}

@media (max-width: 1024px) {
  .blogNavigationSeparator {
    display: flex;
  }

  .blogSubheader {
    justify-content: center;
  }
}

@media (max-width: 760px) {
  .blogSection {
    width: auto;
  }
}
