.gearWrapper {
  display: grid;
  grid-gap: 2.5em;
  grid-template-columns: 1fr 2fr;
}

.gearWrapper h3 {
  margin: 0;
  padding: 0 2vw 0 0;
}

.gearWrapper ul {
  margin: 0;
}

@media (max-width: 1024px) {
  .gearWrapper {
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }

  .gearWrapper ul {
    margin-bottom: 4vh;
  }
}
