.gearWrapper {
  display: grid;
  grid-gap: 2.5em;
  grid-template-columns: 1fr 40vw;
  margin-top: 2.5rem;
}

.gearWrapper h3 {
  margin: 0;
  padding: 0 2vw 0 0;
}

.gearWrapper li {
  margin: 0.25em 0;
}

.gearWrapper ul {
  margin: 0;
}

.filterTitle {
  margin: 0 0 0.75em 0;
}

.searchFilter {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .filterTitle {
    margin: 1.5rem 0 0.75rem 0;
  }

  .gearWrapper {
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }

  .gearWrapper ul {
    margin-bottom: 2vh;
    padding: 0;
  }
}
