@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;1,100;1,300;1,700&family=Open+Sans&family=Playfair+Display+SC:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: sans-serif;
  transition: background 0.2s ease-in-out;
  line-height: 1.5;
  font-size: 16px;

  --color-white: #f9f9f9;
  --color-offwhite: #e6e6e6;
  --color-black: #1f1f1f;
  --color-light-grey: #cacaca;
  --color-medium-grey: #a7a7a7;
  --color-dark-grey: #2e2e2e;

  /* solid colors */
  --color-solid-blue: #0071ce;
  --color-solid-green: #60aa00;

  /* transparent colors */
  --color-blue: #0071ced7;
  --color-green: #60aa00d7;
  --color-brown: #850202d7;
  --color-orange: #e49604d7;
  --color-pink: #f1045fd7;
  --color-purple: #bb03e9d7;
  --color-yellow: #fdef28d7;
}

body,
body[data-theme='light'] {
  --color-text-primary: var(--color-black);
  --color-text-secondary: var(--color-dark-grey);
  --color-text-tertiary: #696969;
  --color-text-accent: var(--color-solid-blue);
  --color-bg-primary: var(--color-white);
  --color-bg-secondary: var(--color-offwhite);
  --color-bg-tertiary: #a7a7a7;
  --color-bg-accent: var(--color-solid-blue);
}

body[data-theme='dark'] {
  --color-text-primary: var(--color-offwhite);
  --color-text-secondary: var(--color-light-grey);
  --color-text-tertiary: var(--color-medium-grey);
  --color-text-accent: var(--color-solid-green);
  --color-bg-primary: var(--color-black);
  --color-bg-secondary: #272727;
  --color-bg-tertiary: #4d4d4d;
  --color-bg-accent: var(--color-solid-green);
}

article {
  width: 50vw;
  margin: 0 auto 3em auto;
}

article img {
  max-width: 50vw;
  padding: 2rem 0 0 0;
}

img[alt='vertical'] {
  width: 550px;
  align-self: center;
}

button {
  background-color: var(--color-bg-secondary);
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.8em 0.8em 0;
  border-radius: 2em;
  border: none;

  color: var(--color-text-primary);
  text-decoration: none;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  transition: all 0.2s;

  @media all and (max-width: 1024px) {
    display: block;
    margin: 0.2em auto;
  }
}

button:hover {
  cursor: pointer;
  color: var(--color-white);
}

a {
  color: var(--color-text-accent);
  text-decoration: none;
}

p a,
ul a {
  color: var(--color-text-accent);
  text-decoration: none;
}

p a:hover,
ul a:hover {
  text-decoration: underline;
}

caption {
  padding: 0.5rem 1rem;
  font-size: 14px;
  color: #6b6b6b;
}

footer {
  background-color: var(--color-dark-grey);
  padding: 1.75rem 2rem 3rem 2rem;
  color: var(--color-offwhite);
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
}

header a {
  text-decoration: none;
  padding: 0.6rem;
}

header a:hover {
  text-decoration: underline;
}

h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 300;
}

select,
input {
  font-size: 16px;
  border-radius: 5px;
  background-color: transparent;
  color: var(--color-text-secondary);
  outline: none;
  padding: 0.2rem 0.4rem;

  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid var(--color-bg-tertiary);
}

table {
  background-color: var(--color-bg-primary);
  border-collapse: collapse;
  border: 1px var(--color-bg-tertiary);
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  width: 85vw;
  line-height: 1.85;
}

table tr:nth-child(even) {
  background-color: var(--color-bg-secondary);
}

table .tableRow:hover {
  background-color: var(--color-bg-tertiary);
}

tbody {
  width: 100%;
  text-align: center;
  font-size: 16px;
}

td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

th {
  text-transform: uppercase;
  padding: 1.25rem 0 0.75rem 0;
  white-space: nowrap;
}

@media (max-width: 1024px) {
  article {
    width: auto;
  }

  article h1 {
    text-align: center;
  }

  article img {
    max-width: 80vw;
  }

  table {
    line-height: 2;
  }

  caption {
    margin-top: 1.25rem;
    line-height: 1.4;
  }

  footer {
    padding: 1.75rem 1rem 3rem 1rem;
  }

  header a {
    font-size: 14px;
    padding: 0.4rem;
  }

  table {
    max-width: 85vw;
  }

  th {
    font-size: 12px;
    padding: 8px;
  }

  td {
    padding: 0 0.25em;
    max-width: 25vw;
    font-size: 14px;
  }
}
