.description {
  font-size: 14px;
  max-width: 60%;
  margin: 0 auto 1em auto;
  line-height: 1.4;
}

.peakListWrapper {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 3fr));
  column-gap: 2em;
  justify-items: center;
  margin: 1rem auto 0 auto;
}

.peakTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 1024px) {
  .description {
    max-width: 85%;
  }

  .peakListWrapper {
    max-width: 65vw;
    display: flex;
    flex-direction: column;
  }

  .peakTitle {
    width: 100%;
    gap: none;
  }

  .peakTitle h2 {
    width: 60%;
  }

  .peakTitle h3 {
    text-align: right;
    width: 20%;
  }
}
