.backToHome {
  margin: 3rem 0;
}

.backToHome a {
  text-decoration: none;
  color: #ff953d;
}

.centerText {
  text-align: center;
}

.heading2Xl {
  font-size: 2.8rem;
  line-height: 1.2;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2.2rem;
  line-height: 1.3;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.9rem;
}

.lightText {
  color: #666;
}

.marginRight {
  margin-right: 2rem;
}

.padding1px {
  padding-top: 1px;
}

.roundImage {
  border-radius: 100%;
}

.shownForMobile {
  display: none;
}

.singleRow {
  display: flex;
  align-items: center;
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1024px) {
  .hiddenForMobile {
    display: none;
  }

  .shownForMobile {
    display: flex;
    justify-content: center;
  }
}
