@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  20% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  40% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  60% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  80% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  100% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
}

.backToHome {
  margin: 3rem 0;
}

.backToHome a {
  text-decoration: none;
}

.backToHome:hover {
  animation: shake 0.3s;
  animation-iteration-count: infinite;
}

.centerText {
  text-align: center;
}

.gradientTop {
  background-image: linear-gradient(transparent, var(--color-bg-primary)),
    url('/photos/lander_top.jpg');
  height: 30vh;
  width: 100%;
  background-size: cover;
}

.gradientBottom {
  background-image: linear-gradient(var(--color-bg-primary), transparent),
    url('/photos/lander_bottom.jpg');
  height: 25vh;
  width: 100%;
  background-size: cover;
  margin-top: 5vh;
}

.heading2Xl {
  font-size: 2.8rem;
  line-height: 1.2;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2.2rem;
  line-height: 1.3;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.9rem;
}

.lightText {
  color: #666;
}

.marginRight {
  margin-right: 2rem;
}

.padding1px {
  padding-top: 1px;
}

.roundImage {
  border-radius: 100%;
}

.shownForMobile {
  display: none !important;
}

.singleRow {
  display: flex;
  align-items: center;
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hiddenForMobile > div:first-child {
  display: block !important;
}

@media (max-width: 1024px) {
  .gradientTop {
    max-height: 25vh;
  }

  .hiddenForMobile {
    display: none;
  }

  .shownForMobile {
    display: flex !important;
    justify-content: center;
  }
}
